extends ../layout

block content
    .container
        .jumbotron
                h1 Who wants to be a millionaire?
                p Generate your winning number here
                p
                        a.btn.btn-primary.btn-lg(href='/generator')   Generate lottery numbers