script(type="text/javascript", src="../assets/bower/jquery/dist/jquery.js")
script(type="text/javascript", src="../assets/bower/bootstrap/dist/js/bootstrap.js")
script(type="text/javascript", src="../assets/bower/knockout/dist/knockout.debug.js")
script(type="text/javascript", src="../assets/bower/knockout-bootstrap/src/knockout-bootstrap.js")
script(type="text/javascript", src="../assets/bower/knockout.animate/src/knockout.animate.js")
script(type="text/javascript", src="./app.namespace.js")